﻿/* styles for about page */
.margin-top-20 {
    margin-top: 20px;
}

.layout-footer {
    position: fixed;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

    border-top: 1px solid #e2e2e2;
    width: 100%;
    max-width: 100% !important;

    background-color: white;
}

.footer-link {
    position: relative;
    margin-left: 15px;
}

.right-footer-subscribe {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}