﻿@using BLL.DTO
@model IEnumerable<TournamentSearchDTO>
@using System.Resources;

@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Tournament.{ lang }.SearchResources", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("Tournament_Search");
}

<header class="text-center">
    <h2>
        @if (Model.Count() > 0)
        {
            <text> @rm.GetString("Tournament_List") </text>
        }
        else
        {
            <text> @rm.GetString("Tournament_Not_Found") </text>
}
    </h2>
</header>

<div class="container tournament-list-container">

    @if(Model.Count() > 0)
    { 
    <div class="row">
        @foreach (var tour in Model)
        {
            <div class="col-lg-6 row">
                <div class="tournament-image col-lg-5">
                    <img src="@tour.Logo" class="tournament-image-element" height="150" />
                </div>

                <div class="tournament-image-info col-lg-6">
                    <div>
                        @rm.GetString("Tournament_Name") - @tour.Name
                    </div>

                    <div>
                        @rm.GetString("Participates") - @tour.CurrentParticipateNumber (@tour.RequiredParticipateNumber)
                    </div>
                    @{ string id = "participateLink" + tour.Id; }
                    @if (!tour.IsStarted)
                    {
                        if (tour.Status == UserInTournamentStatus.NoRelation)
                        {
                            <a href="#" class="participate-link" onclick="participate(@tour.Id);"
                               id="@id">
                                @{
                                    string participate = rm.GetString("Participate");
                                }
                                @rm.GetString("Participate")
                            </a>
                        }
                        else if (tour.Status == UserInTournamentStatus.SendedRequest)
                        {
                            <a href="#" class="participate-link text-warning" onclick="return false;">
                                @rm.GetString("Request_Already_Sended")
                            </a>
                        }
                        else if (tour.Status == UserInTournamentStatus.Participate)
                        {
                            <a href="#" class="participate-link text-warning" onclick="return false;">
                                @rm.GetString("Already_Participate")
                            </a>
                        }

                    }
                    else
                    {
                        <a href="#" class="participate-link link-disabled" onclick="return false;">
                            @rm.GetString("Tournament_Started")
                        </a>
                    }
                </div>
            </div>
        }
    </div>
    }

</div>

@section Scripts {
    <script src="~/Scripts/Tournament/Search/participate.js"></script>
}

