﻿@using WebApp.Models.Tournament;
@using BLL.DTO;
@using System.Resources;
@model TournamentParticipateViewModel

@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Tournament.{ lang }.ParticipateResources", typeof(MvcApplication).Assembly);
}

<header class="text-center text-italic border-underline">

    @if (!Model.IsStarted)
    {
        <text> @rm.GetString("Participates") </text>
    }
    else
    {
        <text> @rm.GetString("Tournament_Table") </text>
    }

</header>


<ol class="list-group participate-info-list">
    @if (Model.IsStarted)
    {
        foreach (ParticipateViewModel user in Model.Participates)
        {
            <li class="list-group-item ">
                <div class="display-inline-block">
                    <img src="@user.Photo" width="25" height="20" />
                </div>

                <div class="display-inline-block padding-left-20">
                    @user.Name  @user.Surname
                </div>

                <div class="display-inline-block padding-left-20">
                    @user.Email
                </div>

                <span class="badge">
                    @user.PointNumber
                </span>
            </li>
        }
    }
    else
    {
        foreach (ParticipateViewModel user in Model.Participates)
        {
            <li class="list-group-item ">
                <div class="display-inline-block">
                    <img src="@user.Photo" width="25" height="20" />
                </div>

                <div class="display-inline-block padding-left-20">
                    @user.Name  @user.Surname
                </div>

                <div class="display-inline-block padding-left-20">
                    @user.Email
                </div>

                <span class="badge">
                    @rm.GetString("Accepted_To_Tournament")
                </span>
            </li>
        }
        foreach (UserDTO user in Model.ParticipateRequests)
        {
            <li class="list-group-item ">
                <div class="display-inline-block">
                    <img src="@user.Photo" width="25" height="20" />
                </div>

                <div class="display-inline-block padding-left-20">
                    @user.Name  @user.Surname
                </div>

                <div class="display-inline-block padding-left-20">
                    @user.Email
                </div>

                <span class="badge">
                    @rm.GetString("Wait_For_Answer")
                </span>
            </li>
        }
    }
</ol>