﻿@using BLL.DTO;
@using System.Resources;
@model TournamentTableDTO

@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Tournament.{ lang }.StatusResources", typeof(MvcApplication).Assembly);
 }

<table class="table">

    <thead>

        <tr>
            <th class="tournament-statistics-cell text-center">
                @rm.GetString("Users")
            </th>
            @foreach (UserDTO user in Model.Users)
            {
                <th class="tournament-statistics-cell text-center">
                    @user.Name
                </th>
            }
        </tr>

    </thead>

    <tbody>

        @foreach (UserDTO user in Model.Users)
        {
            <tr>
                <td class="tournament-statistics-cell text-center">
                    @user.Name
                </td>
                @foreach (UserDTO user2 in Model.Users)
                {
                    if (user.Id == user2.Id)
                    {
                        <td class="tournament-statistics-cell self-play-cell">
                        </td>
                    }
                    else
                    {
                        IEnumerable<GameDTO> games = Model[user,user2];


                        <td class="tournament-statistics-cell text-center">
                            @if (games != null)
                            {
                                <text> | </text>
                                foreach (GameDTO game in games)
                                {
                                    <text> @game.ResultView | </text>
                                }
                            }
                            else
                            {
                                <text> - </text>
                           }
                        </td>
                    }
                }
            </tr>
        }

    </tbody>

</table>
