﻿@using System.Resources;
@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En"; // default lang is English
    ResourceManager rm = new ResourceManager($"WebApp.Resources.About.{ lang }.IndexResources", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("About_System");
}


<header class="text-center">
    <h2>
        @rm.GetString("Page_Header")
    </h2>
</header>


<article class="jumbotron row">
    
    <div class="col-lg-4 margin-top-20">
        <img src="~/Files/TournamentImages/turnirAVA.jpg" width="300" height="200" class="img-circle" />
    </div>

    <div class="col-lg-8">
        @rm.GetString("Page_Body")
    </div>

</article>


