﻿
@{
    ViewBag.Title = "Политика безопасности";
}


<header class="text-center">
    <h2>
        Политика безопасности
    </h2>
</header>


<article class="jumbotron row">

    <div class="col-lg-4 margin-top-20">
        <img src="~/Files/security.jpg" width="300" height="200" class="img-circle" />
    </div>

    <div class="col-lg-8">
        Система используеть файлы cookie для запоминания пользователя, который проходил авторизацию на сайте, с целью того, 
        чтобы в следующий раз пользователю не приходилось вводить аутентификационные данные. Естественно это выполняеться только 
        в том случаи, если пользователь указал флажок запомнить меня при регистрации на сайте.
    </div>

</article>

