﻿
<nav class="row static-navbar-row">

    <div class="col-lg-6">

        <button type="button" class="btn nav-static-btn" ng-click="loadAboutFiles();">
            Page "About System"
        </button>

    </div>

    <div class="col-lg-6">

        <button type="button" class="btn nav-static-btn" ng-click="loadPoliceFiles();">
            Page "Privacy police"
        </button> 

    </div>

</nav>

<nav class="row static-files-row">
    <div class="row"> 
        <div class="col-lg-6 static-search-wrapper">
            <div class="col-lg-2 padding-top-5">
                Open
            </div>
            <div class="col-lg-8">
                <input type="text" list="filesList" class="form-control layout-search-box" ng-model="SearchTitle" />
            </div>

            <div class="col-lg-2 no-paddings padding-top-5">
                <a href="#" class="badge float-left font-size-14" ng-click="moveFileToNavbar();">
                    Go
                </a>
            </div>
        </div>
    </div>
</nav>

<datalist id="filesList">
    <option ng-repeat="file in Files" value="{{ file.Title }}"></option>
</datalist>

<nav class="row static-files-row margin-top-8">

    <div class="file-btn" ng-repeat="file in NavbarFiles" ng-class="File.Title == file.Title ? 'active' : ''">
        <a href="#" class="text-black" ng-click="openFile(file);"> {{ file.Title }} </a>  
        <a href="#" class="badge text-info file-close-badge" ng-click="removeFromNavbar(file);">
            X
        </a>
    </div>
</nav>


<header class="text-center margin-top-20">

    <h3>
        File - {{ File.Title != undefined ? File.Title : '' }}
    </h3>

</header>

<div class="static-edit-wrapper">

    <textarea rows="20" class="file-edit-area" ng-model="File.Content"></textarea>

    <div class="row">

        <div class="col-lg-offset-10">
            <button type="button" class="file-save-btn" ng-class="File == null ? 'disabled' : ''"
                    ng-click="saveFile();" ng-show="!fileSaved">
                <span class="glyphicon glyphicon-save"></span> Save
            </button>

            <button type="button" class="file-save-btn btn-file-saved disabled" ng-show="fileSaved">
                <span class="glyphicon glyphicon-ok"></span>
                Saved
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>

    </div>

</div>