﻿@model WebApp.Models.Account.LoginViewModel
@using System.Resources;

@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Account.{ lang }.LoginResources", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("Login_String");
}

<div class="login-container">

    <div class="text-center login-header">

        <div class="login-header-title">

            @rm.GetString("Login_String")

        </div>

    </div>

    <form method="post">

        <div class="login-body">

            <div class="form-group">

                <label class="col-lg-4 text-right login-label" for="Login">
                    @rm.GetString("Email_String")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="text" name="Login" id="Login" class="form-control" required />
                </div>

            </div>

            <div class="form-group">

                <label for="Password" class="col-lg-4 text-right login-label">
                    @rm.GetString("Password_String")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="password" name="Password" id="Password" class="form-control" required/>
                </div>

            </div>

            <div class="form-group col-lg-offset-4">

                @Html.EditorFor(m => m.RememberMe)

                <label for="RememberMe" class="login-label">
                    @rm.GetString("Remember_Me_Message")
                </label>

            </div>

        </div>

        <div class="login-footer text-center row">
            <div class="submit-btn row">
                <input type="submit" class="btn btn-success" value="@rm.GetString("Enter_String")" />
            </div>

            <div class="row">
                <a href="/Account/Register" type="button" class="btn margin-top-20 register-login-link">
                    @rm.GetString("Create_Account_Message")
                </a>
                <a href="/Account/RestorePassword" class="btn margin-top-20 forgot-password-login-link">
                    @rm.GetString("Forgot_Password_Message")
                </a>
            </div>
        </div>

    </form>

</div>

