﻿@using System.Resources;
@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Account.{ lang }.ProfileResources", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("Profile");
}

<div class="login-container" id="mainContainer">

    <div class="text-center login-header">

        <div class="login-header-title">

            @rm.GetString("Enter_Credentials_Message")

        </div>

    </div>

    <form method="post" id="LoginForm">

        <div class="login-body">

            <div class="form-group">

                <label class="col-lg-4 text-right login-label" for="Login">
                    @rm.GetString("Email_String")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="text" name="Login" id="Login" class="form-control" required />
                </div>

            </div>

            <div class="form-group">

                <label for="Password" class="col-lg-4 text-right login-label">
                    @rm.GetString("Password_String")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="password" name="Password" id="Password" class="form-control" required />
                </div>

            </div>

            <div class="form-group text-center" id="ErrorContainer">
                <span class="margin-top-15 admin-user-edit-error-message" id="ErrorMessage">
                    @rm.GetString("Error_Message")
                </span>
            </div>

        </div>

        <div class="login-footer text-center">
            <div class="submit-btn">
                <input type="button" class="btn btn-success" value="@rm.GetString("Enter_Message")" onclick="submitLoginForm();" />
            </div>
        </div>

    </form>

</div>

@section Scripts {
    <script src="~/Scripts/Account/profile.js"></script>
}
