﻿@using BLL.DTO;
@model UserDTO
@using System.Resources;

@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Account.{ lang }.ProfileLoginResources", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("Edit_Your_Profile");
}

<div class="text-center login-header">

    <div class="login-header-title">

        @rm.GetString("Edit_Your_Profile")

    </div>

</div>

<form method="post" enctype="multipart/form-data" action="/Account/ProfileEdit" id="EditForm">

    <div class="login-body">

        <div class="form-group">

            <label class="col-lg-4 text-right login-label" for="Login">
                @rm.GetString("Email_String")
            </label>

            <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                <input type="email" name="Email" id="Email" class="form-control" required 
                       value="@Model.Email"/>
            </div>

        </div>

        <div class="form-group">

            <label for="FullName" class="col-lg-4 text-right login-label">
                @rm.GetString("FullName_String")
            </label>

            <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                <input type="text" name="FullName" id="FullName" class="form-control" pattern="[^ ]+ [^ ]+ [^ ]+"
                       title="firstname patronymic surname" 
                       value="@Model.Name @Model.Patronymic @Model.Surname"/>
            </div>

        </div>

        <div class="form-group">
            <label for="PhoneNumber" class="col-lg-4 text-right login-label">
                @rm.GetString("Phone_String")
            </label>

            <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                <input type="tel" name="PhoneNumber" id="PhoneNumber" class="form-control"
                       pattern="[(]?\d{3}[)]?\s\d{7}" title="example '(099) 1111111''" 
                       value="@Model.PhoneNumber"/>
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="col-lg-4 text-right login-label">
                @rm.GetString("Photo_String")
            </label>

            <div class="col-lg-8">
                <img src="@Model.Photo" width="220" height="150" class="margin-bottom-20 img-circle" />
            </div>

            <div class="col-lg-offset-4 col-lg-8 text-left no-paddings margin-bottom-20">
                <input type="file" name="Photo" id="Photo" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="col-lg-4 text-right login-label">
                @rm.GetString("Password_String")
            </label>

            <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                <input type="password" name="Password" id="Password" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="col-lg-4 text-right login-label">
                @rm.GetString("Confirm_Password_String")
            </label>

            <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="col-lg-4 text-right login-label">
                @rm.GetString("Comment_String")
            </label>

            <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                <textarea name="Comment" id="Comment" class="form-control" rows="5">@Model.Comment</textarea>
            </div>
        </div>

        <div class="form-group text-center" id="ErrorProfileContainer">
            <span class="margin-top-15 admin-user-edit-error-message" id="ErrorMessage">
                @rm.GetString("Error_Message")
            </span>
        </div>
    </div>

    <div class="login-footer text-center">
        <div class="submit-btn">
            <input type="submit" class="btn btn-success" value="@rm.GetString("Edit_String")" onclick="sendRegisterForm();" />
        </div>
    </div>

</form>
