﻿@model WebApp.Models.Account.RegisterViewModel
@using System.Resources;

@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Account.{ lang }.RegisterResources", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("Create_Account_Message");
}

<div class="login-container">

    <div class="text-center login-header">

        <div class="login-header-title">

            @rm.GetString("Create_Account_Message")

        </div>

    </div>

    <form method="post" enctype="multipart/form-data">

        <div class="login-body">

            <div class="form-group">

                <label class="col-lg-4 text-right login-label" for="Login">
                    @rm.GetString("Email_Message")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="email" name="Email" id="Email" class="form-control" required/>
                </div>

            </div>

            <div class="form-group">

                <label for="FullName" class="col-lg-4 text-right login-label">
                    @rm.GetString("FullName_Message")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="text" name="FullName" id="FullName" class="form-control" pattern="[^ ]+ [^ ]+ [^ ]+" required 
                           title="@rm.GetString("FullName_Help")" placeholder="@rm.GetString("FullName_Help")"/>
                </div>

            </div>

            <div class="form-group">
                <label for="PhoneNumber" class="col-lg-4 text-right login-label">
                    @rm.GetString("Phone_Message")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="tel" name="PhoneNumber" id="PhoneNumber" class="form-control"  required 
                           pattern="[(]?\d{3}[)]?\s\d{7}" title="@rm.GetString("Example") '(099) 1111111''"/>
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="col-lg-4 text-right login-label">
                    @rm.GetString("Photo_Message")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="file" name="Photo" id="Photo" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="col-lg-4 text-right login-label">
                    @rm.GetString("Password_Message")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="password" name="Password" id="Password" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="col-lg-4 text-right login-label">
                    @rm.GetString("Confirm_Password_Message")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="col-lg-4 text-right login-label">
                    @rm.GetString("Profile_Comment_Message")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <textarea name="Comment" class="form-control" rows="5" required>

                    </textarea>
                </div>
            </div>
        </div>

        <div class="login-footer text-center row">
            <div class="submit-btn row">
                <input type="submit" class="btn btn-success" value="@rm.GetString("Register_Message")" />
            </div>
            <div class="row text-center">
                <a href="/Account/Login" type="button" class="btn margin-top-20 register-login-link float-none">
                    @rm.GetString("Already_Has_Account")
                </a>
            </div>
        </div>

    </form>

</div>