﻿@using System.Resources;
@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Account.{ lang }.RestoreMailSendedResources", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("Title");
}

<header class="text-center border-bottom-short-underline">
    <h2> @rm.GetString("Message_sended") </h2>
</header>

<div class="margin-top-20 text-center text-italic">
    @rm.GetString("Page_Body")
</div>


