﻿@using System.Resources;

@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Account.{ lang }.RestorePasswordResources", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("Restore_Password");
 }

<div class="login-container">

    <div class="text-center login-header">

        <div class="login-header-title">

            @rm.GetString("Restore_Password")

        </div>

    </div>

    <form method="post">

        <div class="login-body">

            <div class="form-group">

                <label class="col-lg-4 text-right login-label" for="Login">
                    @rm.GetString("Email")
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="text" name="email" id="email" class="form-control" required />
                </div>

            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="form-group text-center" id="ErrorProfileContainer">
                    <span class="admin-user-edit-error-message text-danger no-margins margin-top-20" id="ErrorMessage">
                        @ViewData.ModelState["Email"].Errors.First().ErrorMessage
                    </span>
                </div>
            }

        </div>

        <div class="login-footer text-center row">
            <div class="submit-btn row">
                <input type="submit" class="btn btn-success" value="@rm.GetString("Restore")" />
            </div>
        </div>

    </form>

</div>

