﻿@using System.Resources;
@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Account.{ lang }.VerifyEmailResource", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("Verify_Email");
}

<header class="text-center border-bottom-short-underline">
    <h2> @rm.GetString("Confirmation_Email") </h2>
</header>

<div class="margin-top-20 text-center text-italic">
    @rm.GetString("Page_Body") <a href="/Tournament/Index/"> @rm.GetString("Go_To_Main_Page") </a>
</div>

