﻿@using System.Resources;

@{
    string lang = (string)Session["Lang"];
    lang = lang != null ? lang : "En";
    ResourceManager rm = new ResourceManager($"WebApp.Resources.Account.{ lang }.WaitForEmailVerificationResource", typeof(MvcApplication).Assembly);
    ViewBag.Title = rm.GetString("Page_Title");
}

<header class="text-center border-bottom-short-underline">
    <h2> @rm.GetString("Page_Header") </h2>
</header>

<div class="margin-top-20 text-center text-italic">
    @rm.GetString("Page_Body")
</div>
